@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-arrow-back:before {
  content: "\e900";
}

._icon-arrow-down:before {
  content: "\e901";
}

._icon-arrow-link:before {
  content: "\e902";
}

._icon-arrow-next:before {
  content: "\e903";
}

._icon-arrow-up:before {
  content: "\e904";
}

._icon-cart:before {
  content: "\e905";
}

._icon-chevron-right:before {
  content: "\e906";
}

._icon-close:before {
  content: "\e907";
}

._icon-favorite:before {
  content: "\e908";
}

._icon-open-more:before {
  content: "\e909";
}

._icon-phone:before {
  content: "\e90a";
}

._icon-search:before {
  content: "\e90b";
}

._icon-star:before {
  content: "\e90c";
}

._icon-telegram:before {
  content: "\e90d";
}

._icon-viber-share:before {
  content: "\e90e";
}

._icon-viber:before {
  content: "\e90f";
}

._icon-vk:before {
  content: "\e910";
}

._icon-whatsapp:before {
  content: "\e911";
}

._icon-youtube:before {
  content: "\e912";
}

.btn {
  display: inline-block;
  text-decoration: none;
  margin: 0px;
}

.btn-social {
  line-height: 1.5;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.btn-social:hover {
  outline: none;
  cursor: pointer;
}

.btn-telegram:hover {
  color: #4FA2D7;
}

.btn-whatsapp:hover {
  color: #73DD6B;
}

body {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-family: "Inter";
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  width: 100%;
  vertical-align: top;
}

textarea {
  resize: vertical;
}

input,
textarea {
  border-radius: 0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
}

input:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

select {
  border-radius: 0;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
          appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
          appearance: none;
}

input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: inset 0 0 0 1000px #ffffff;
          box-shadow: inset 0 0 0 1000px #ffffff;
}

select,
textarea,
input:matches([type=email],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=url]) {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.nav__list,
.nav__sub-list,
.sub-nav__list,
.sub-nav__sub-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 15px;
  padding: 5px 0px;
  position: relative;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__item:first-child {
  padding-left: 0px;
  margin-left: 0px;
}

.nav__link {
  color: #E9136B;
  font-weight: 500;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.nav__arrow {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin: 0px 0px 0px 5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 6px;
  color: #E9136B;
}

.sub-nav {
  position: relative;
  background-color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.sub-nav__body {
  position: relative;
}

.sub-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 30px;
}

.sub-nav__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.sub-nav__title svg {
  fill: #E9136B;
  margin: 0px 16px 0px 0px;
}

.sub-nav__link {
  font-size: inherit;
  color: #000000;
  font-weight: 700;
  line-height: 1.1rem;
}

.sub-nav__arrow {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin: 0px 0px 0px 5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 8px;
}

.sub-nav__sub-list {
  margin-left: 45px;
  position: relative;
}

.sub-nav__sub-item:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.sub-nav__sub-link {
  font-size: 0.875rem;
  line-height: 1.225rem;
  color: #000000;
}

.menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1065px;
          flex: 0 1 1065px;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body {
  background-color: #f5f1ee;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-height: 110px;
  padding: 15px 0px;
}

.header__logo img {
  width: 80px;
  height: 80px;
}

.main-block__cards {
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.main-block__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-block__title {
  font-size: 3.75rem;
  line-height: 1.2;
  font-weight: 800;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.cards__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.cards__title-section {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
  margin: 0 0 0.5em 0;
}

.cards__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.cards__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0px 0px 30px 0px;
}

.item-card {
  height: 100%;
}

.item-card__body {
  height: 100%;
}

.item-card__body > *:not(:last-child) {
  margin-bottom: 3px;
}

.item-card__img {
  display: block;
  padding: 65% 0px 0px 0px;
}

.item-card__description {
  border-radius: 5px;
  border: 1px solid rgba(36, 36, 36, 0.3);
  padding: 15px 10px;
}

.item-card__description > *:not(:last-child) {
  margin-bottom: 0.5em;
}

.item-card__title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2;
  color: #242424;
}

.item-card__text {
  font-size: 1rem;
  color: rgba(36, 36, 36, 0.7);
}

.item-card__price {
  font-size: 0.9375rem;
  color: #47b972;
  font-weight: 600;
  line-height: 1.2;
}

.footer {
  background-color: #ffffff;
}

.footer__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer__body {
  padding: 50px 0px 30px 0px;
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px -15px;
}

.contacts__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.contact-item__title {
  font-size: 1rem;
  font-weight: 700;
  color: #242424;
  margin-bottom: 10px;
}

.contact-item__text {
  font-size: 0.875rem;
  line-height: 1.2;
  color: rgba(36, 36, 36, 0.7);
}

.social-item {
  line-height: 1.8;
}

.social-item__btn {
  font-size: 1.25rem;
}

.social-item__btn:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

@media (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }

  .sub-nav {
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0px, 10px);
        -ms-transform: translate(0px, 10px);
            transform: translate(0px, 10px);
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: -20px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  .sub-nav__arrow {
    display: none;
  }
}

@media (max-width: 991px) {
  .main-block__title {
    font-size: 3rem;
  }

  .cards__body {
    margin: 0px -10px;
  }

  .cards__column {
    padding: 0px 10px;
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 767px) {
  .main-block__cards {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .main-block__title {
    font-size: 2.25rem;
  }

  .cards__title-section {
    font-size: 1.5rem;
  }

  .cards__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .item-card__text {
    font-size: 0.875rem;
  }

  .contacts__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts__body > *:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .contacts__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 0px;
  }

  .contact-item__body {
    text-align: center;
  }
}

@media (max-width: 479px) {
  .header__container {
    padding: 0 15px;
  }

  .main-block__container {
    padding: 0 15px;
  }

  .cards__container {
    padding: 0 15px;
  }

  .cards__column {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin: 0px 0px 15px 0px;
  }

  .cards__column:not(:last-child)::after {
    content: "";
    display: block;
    border-bottom: 1px solid rgba(36, 36, 36, 0.1);
  }

  .item-card {
    padding-bottom: 15px;
  }

  .item-card__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .item-card__body > *:not(:last-child) {
    margin-bottom: 0px;
  }

  .item-card__img {
    padding: 0px 0px 0px 35%;
  }

  .item-card__description {
    padding: 5px 0px 5px 10px;
    border: none;
  }

  .item-card__title {
    font-size: 1rem;
  }

  .footer__container {
    padding: 0 15px;
  }
}

@media (any-hover: hover) {
  .nav__item:hover .sub-nav {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .nav__item:hover .nav__link {
    color: #000000;
    text-decoration: underline;
    text-underline-position: under;
  }

  .nav__item:hover .nav__arrow {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
    color: #000000;
  }

  .sub-nav__sub-item:hover .sub-nav__sub-link {
    color: #E9136B;
    text-decoration: underline;
    text-underline-position: under;
  }
}